{% extends "base.html" %}
{% block title %}ProfilePage{% endblock %}

{% block body %}
{% include "navbar.html" %}
{% load custom_tags %}
<div class="container mt-5 pt-4">
    <div class="row">
        <div class="col-md-4 text-center">
            <a href="#">
                {% if user.UserProfileModel_user.has_profile_pic %}
                <img src="{{user.UserProfileModel_user.profile_picture.url}}" class="profile-img" alt="Profile Image" style="border: 1px solid black;">
                {% else %}
                <img src="" class="profile-img" alt="Profile Image" style="border: 1px solid black;">
                {% endif %}
            </a>
            <h2 class="mt-2">{{user.username}}</h2>

            <p><strong>{{user.first_name}} {{user.last_name}}</strong><br/>{{user.UserProfileModel_user.bio}}</p>
            <div class="row profile-stat">
                <div class="col-4">
                    <strong>{{data.posts_count}}</strong><br>Posts
                </div>
                <div class="col-4">
                    <strong>{{data.followers_count}}</strong><br>Followers
                </div>
                <div class="col-4">
                    <strong>{{data.following_count}}</strong><br>Following
                </div>
            </div>
            {% if data.is_user_profile %}
            <a href="{% url 'update_user_profile' %}" class="btn btn-outline-primary btn-block mt-3">Edit Profile</a>
            <a href="{% url 'update_password_view' %}" class="btn btn-outline-info btn-block mt-3">Update password</a>
            <a href="{% url 'delete_profile_view' %}" class="btn btn-outline-danger btn-block mt-3">Delete Account</a>
            {%else%}
            <a href="{% url 'follow_view' user.username %}" class="btn btn-outline-primary btn-block mt-3">
                {% if user|is_follow:request.user %}
                Unfollow
                {% else %}
                Follow
                {% endif %}
            </a>
            <a href="{% url 'recipient_message_view' user.username %}" class="btn btn-outline-primary btn-block mt-3">Message</a>
            {% endif %}
        </div>
        <div class="col-md-8">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="saved-tab" data-toggle="tab" href="#saved" role="tab" aria-controls="saved" aria-selected="false">Saved</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                    <div class="row mt-4">
                        {% if data.posts_count != 0 %}
                        {% for post in data.user_posts %}
                        <!-- Post -->
                        <div class="col-6 mb-4">
                            <div class="card post-card">
                                <a href="{% url 'view_post' post.id %}"><img src="{{post.post.url}}" class="card-img-top post-img fix-post-img" alt="Post Image"></a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-12 mt-4 text-center">
                            <strong>No Posts Yet...</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="tab-pane fade" id="saved" role="tabpanel" aria-labelledby="saved-tab">
                    <div class="row mt-4">
                        <!-- Saved Post -->
                        {% if data.saved_posts_count != 0 %}
                        {% for post in data.user_saved_posts %}
                        <!-- Post -->
                        <div class="col-6 mb-4">
                            <div class="card post-card">
                                <a href="{% url 'view_post' post.id %}"><img src="{{post.post.url}}" class="card-img-top post-img fix-post-img" alt="Post Image"></a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-12 mt-4 text-center">
                            <strong>No Saved Posts Yet...</strong>
                        </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}